<p>parent works!</p>
<button (click)="getData()">Get Data </button>
<table *ngIf="flag" class="table bg-primary text-white table-hover border w-75 m-5">
    <tr *ngFor="let product of productList2">
        <td>{{product.ID}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.price|percent}}</td>
        <td><img [src]="product.img" style="width: 100px; height: 100px;"></td>
    </tr>
</table>

<app-child (childEvent)="productList2=$event"></app-child>
